Assignment10/resources/xml/startFromWSDL/AccountAuthenticationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
        targetNamespace="http://jw.nju.edu.cn/wsdl"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://jw.nju.edu.cn/wsdl"
        xmlns:jw="http://jw.nju.edu.cn/schema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jw.nju.edu.cn/schema" >
            <xs:include schemaLocation="../schema/Student.xsd"/>
            <xs:element name="studentNumber" type="jw:学号类型"/>
            <xs:element name="invalidDataError" type="xs:string"/>
            <xs:element name="auth" type="jw:权限类型"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="studentNumber">
        <wsdl:part name="parameters" element="jw:studentNumber"/>
    </wsdl:message>

    <wsdl:message name="auth">
        <wsdl:part name="parameters" element="jw:auth"/>
    </wsdl:message>

    <wsdl:message name="invalidDataFault">
        <wsdl:part name="parameters" element="jw:invalidDataError"/>
    </wsdl:message>

    <wsdl:portType name="verifyIDInterface">
        <wsdl:operation name="verifyID">
            <wsdl:input message="tns:studentNumber"/>
            <wsdl:output message="tns:auth"/>
            <wsdl:fault name="invalidDataFault" message="tns:invalidDataFault"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="verifyIDBinding"
                  type="tns:verifyIDInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="verifyID">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="invalidDataFault">
                <soap:fault name="invalidDataFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="verifyIDService">
        <wsdl:port name="verifyIDPort" binding="tns:verifyIDBinding">
            <soap:address location="http://localhost:8080/auth"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>