Assignment10/web/xml/startFromWSDL/StudentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:description
        xmlns:wsdl="http://www.w3.org/ns/wsdl"
        targetNamespace= "http://jw.nju.edu.cn/wsdl"
        xmlns:tns="http://jw.nju.edu.cn/wsdl"
        xmlns:jw="http://jw.nju.edu.cn/schema"
        xmlns:wsoap= "http://www.w3.org/ns/wsdl/soap"
        xmlns:soap="http://www.w3.org/2003/05/soap-envelope">

    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jw.nju.edu.cn/schema" >
            <xs:include schemaLocation="../schema/Student.xsd"/>
            <xs:element name="invalidDataError" type="xs:string" />
			<xs:element name="ifSuccess" type="xs:string" />
        </xs:schema>
    </wsdl:types>

    <wsdl:interface name="getStudentInterface">
        <wsdl:fault name="invalidDataFaullt" element="jw:invalidDataError"/>
        <wsdl:operation name="opGetStudent" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl:input messageLabel="In" element="jw:学号"/>
            <wsdl:output messageLabel="Out" element="jw:个人信息"/>
            <wsdl:outfault ref="tns:invalidDataFaullt" messageLabel="Out"/>
        </wsdl:operation>
    </wsdl:interface>

    <wsdl:interface name="updateStudentInterface">
        <wsdl:fault name="invalidDataFaullt" element="jw:invalidDataError"/>
        <wsdl:operation name="opUpdateStudent" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl:input messageLabel="In1" element="jw:学号"/>
            <wsdl:input messageLabel="In2" element="jw:个人信息"/>
            <wsdl:output messageLabel="Out" element="jw:个人信息"/>
            <wsdl:outfault ref="tns:invalidDataFaullt" messageLabel="Out"/>
        </wsdl:operation>
    </wsdl:interface>

    <wsdl:interface name="deleteStudentInterface">
        <wsdl:fault name="invalidDataFaullt" element="jw:invalidDataError"/>
        <wsdl:operation name="opDeleteStudent" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl:input messageLabel="In" element="jw:学号"/>
            <wsdl:output messageLabel="Out" element="jw:ifSuccess"/>
            <wsdl:outfault ref="tns:invalidDataFaullt" messageLabel="Out"/>
        </wsdl:operation>
    </wsdl:interface>

    <wsdl:interface name="addStudentInterface">
        <wsdl:fault name="invalidDataFaullt" element="jw:invalidDataError"/>
        <wsdl:operation name="opAddStudent" pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl:input messageLabel="In1" element="jw:学号"/>
            <wsdl:input messageLabel="In2" element="jw:个人信息"/>
            <wsdl:output messageLabel="Out" element="jw:个人信息"/>
            <wsdl:outfault ref="tns:invalidDataFaullt" messageLabel="Out"/>
        </wsdl:operation>
    </wsdl:interface>

    <wsdl:binding name="getStudentBinding"
                  interface="tns:getStudentInterface"
                  type="http://www.w3.org/ns/wsdl/soap"
                  wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP">
        <wsdl:operation red="tns:opGetStudent" wsoap:mep="https://www.w3.org/2003/05/soap/mep/request-response"/>
        <wsdl:fault ref="tns:invalidDataFaullt" wsoap:code="soap:Sender"/>
    </wsdl:binding>

    <wsdl:binding name="updateStudentBinding"
                  interface="tns:updateStudentInterface"
                  type="http://www.w3.org/ns/wsdl/soap"
                  wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP">
        <wsdl:operation red="tns:opUpdateStudent" wsoap:mep="https://www.w3.org/2003/05/soap/mep/request-response"/>
        <wsdl:fault ref="tns:invalidDataFaullt" wsoap:code="soap:Sender"/>
    </wsdl:binding>

    <wsdl:binding name="deleteStudentBinding"
                  interface="tns:deleteStudentInterface"
                  type="http://www.w3.org/ns/wsdl/soap"
                  wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP">
        <wsdl:operation red="tns:opDeleteStudent" wsoap:mep="https://www.w3.org/2003/05/soap/mep/request-response"/>
        <wsdl:fault ref="tns:invalidDataFaullt" wsoap:code="soap:Sender"/>
    </wsdl:binding>

    <wsdl:binding name="addStudentBinding"
                  interface="tns:addStudentInterface"
                  type="http://www.w3.org/ns/wsdl/soap"
                  wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP">
        <wsdl:operation red="tns:opAddStudent" wsoap:mep="https://www.w3.org/2003/05/soap/mep/request-response"/>
        <wsdl:fault ref="tns:invalidDataFaullt" wsoap:code="soap:Sender"/>
    </wsdl:binding>

    <wsdl:service name="getStudentService" interface="tns:getStudentInterface">
        <wsdl:endpoint name="getStudentEndpoint" binding="tns:getStudentBinding" address="http://mock"/>
    </wsdl:service>

    <wsdl:service name="updateStudentService" interface="tns:updateStudentInterface">
        <wsdl:endpoint name="updateStudentEndpoint" binding="tns:updateStudentBinding" address="http://mock"/>
    </wsdl:service>

    <wsdl:service name="deleteStudentService" interface="tns:deleteStudentInterface">
        <wsdl:endpoint name="deleteStudentEndpoint" binding="tns:deleteStudentBinding" address="http://mock"/>
    </wsdl:service>

    <wsdl:service name="addStudentService" interface="tns:addStudentInterface">
        <wsdl:endpoint name="addStudentEndpoint" binding="tns:addStudentBinding" address="http://mock"/>
    </wsdl:service>
</wsdl:description>