Assignment10/xml/startFromWSDL/ScoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<description
    xmlns="http://www.w3.org/ns/wsdl"
    targetNamespace= "http://jw.nju.edu.cn/wsdl"
    xmlns:tns="http://jw.nju.edu.cn/wsdl"
 	  xmlns:jw="http://jw.nju.edu.cn/schema"
    xmlns:wsoap= "http://www.w3.org/ns/wsdl/soap"
    xmlns:soap="http://www.w3.org/2003/05/soap-envelope">

  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jw.nju.edu.cn/schema" >
      <xs:include schemaLocation="../schema/Student.xsd"/>
      <xs:element name="invalidDataError" type="xs:string" />
      <xs:element name="ifSuccess" type="xs:string" />
    </xs:schema>
  </types>

  <interface name="getScoreInterface">
    <fault name="invalidDataFaullt" element="jw:invalidDataError"/>
    <operation name="opGetScore" pattern="http://www.w3.org/ns/wsdl/in-out">
      <input messageLabel="In" element="jw:学号"></input>
      <output messageLabel="Out" element="jw:课程成绩列表"></output>
      <outfault ref="tns:invalidDataFaullt" messageLabel="Out"></outfault>
    </operation>
  </interface>

  <interface name="updateScoreInterface">
    <fault name="invalidDataFaullt" element="jw:invalidDataError"/>
    <operation name="opUpdateScore" pattern="http://www.w3.org/ns/wsdl/in-out">
      <input messageLabel="In1" element="jw:学号"></input>
      <input messageLabel="In2" element="jw:课程成绩列表"></input>
      <output messageLabel="Out" element="jw:课程成绩列表"></output>
      <outfault ref="tns:invalidDataFaullt" messageLabel="Out"></outfault>
    </operation>
  </interface>

  <interface name="deleteScoreInterface">
    <fault name="invalidDataFaullt" element="jw:invalidDataError"/>
    <operation name="opDeleteScore" pattern="http://www.w3.org/ns/wsdl/in-out">
      <input messageLabel="In" element="jw:学号"></input>
      <output messageLabel="Out" element="jw:ifSuccess"></output>
      <outfault ref="tns:invalidDataFaullt" messageLabel="Out"></outfault>
    </operation>
  </interface>
  
  <interface name="addScoreInterface">
    <fault name="invalidDataFaullt" element="jw:invalidDataError"/>
    <operation name="opAddScore" pattern="http://www.w3.org/ns/wsdl/in-out">
      <input messageLabel="In1" element="jw:学号"></input>
      <input messageLabel="In2" element="jw:课程成绩列表"></input>
      <output messageLabel="Out" element="jw:课程成绩列表"></output>
      <outfault ref="tns:invalidDataFaullt" messageLabel="Out"></outfault>
    </operation>
  </interface>

  <binding name="getScoreBinding"
        interface="tns:getScoreInterface"
        type="http://www.w3.org/ns/wsdl/soap"
        wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP">
    <operation red="tns:opGetScore" wsoap:mep="https://www.w3.org/2003/05/soap/mep/request-response"/>
    <fault ref="tns:invalidDataFaullt" wsoap:code="soap:Sender"/>
  </binding>

  <binding name="updateScoreBinding"
        interface="tns:updateScoreInterface"
        type="http://www.w3.org/ns/wsdl/soap"
        wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP">
    <operation red="tns:opUpdateScore" wsoap:mep="https://www.w3.org/2003/05/soap/mep/request-response"/>
    <fault ref="tns:invalidDataFaullt" wsoap:code="soap:Sender"/>
  </binding>

  <binding name="deleteScoreBinding"
      interface="tns:deleteScoreInterface"
      type="http://www.w3.org/ns/wsdl/soap"
      wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP">
    <operation red="tns:opDeleteScore" wsoap:mep="https://www.w3.org/2003/05/soap/mep/request-response"/>
    <fault ref="tns:invalidDataFaullt" wsoap:code="soap:Sender"/>
  </binding>

  <binding name="addScoreBinding"
      interface="tns:addScoreInterface"
      type="http://www.w3.org/ns/wsdl/soap"
      wsoap:protocol="http://www.w3.org/2003/05/soap/bindings/HTTP">
    <operation red="tns:opAddScore" wsoap:mep="https://www.w3.org/2003/05/soap/mep/request-response"/>
    <fault ref="tns:invalidDataFaullt" wsoap:code="soap:Sender"/>
  </binding>

  <service name="getScoreService" interface="tns:getScoreInterface">
    <endpoint name="getScoreEndpoint" binding="tns:getScoreBinding" address="http://mock"/>
  </service>

  <service name="updateScoreService" interface="tns:updateScoreInterface">
    <endpoint name="updateScoreEndpoint" binding="tns:updateScoreBinding" address="http://mock"/>
  </service>

  <service name="deleteScoreService" interface="tns:deleteScoreInterface">
    <endpoint name="deleteScoreEndpoint" binding="tns:deleteScoreBinding" address="http://mock"/>
  </service>

  <service name="addScoreService" interface="tns:addScoreInterface">
    <endpoint name="addScoreEndpoint" binding="tns:addScoreBinding" address="http://mock"/>
  </service>
</description>